<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Innopixel Kontrolpanel</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="displays">
                        <span style="padding-top: 4px;" class="oi oi-monitor" aria-hidden="true"></span> Displays
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="medier">
                        <span style="padding-top: 4px;" class="oi oi-grid-three-up" aria-hidden="true"></span> Medier
                    </NavLink>
                </div>
                @if (context.User.IsInRole("Admin"))
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="logs">
                            <span style="padding-top: 4px;" class="oi oi-document" aria-hidden="true"></span> Logs
                        </NavLink>
                    </div>
                }
                <hr />
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="profil">
                        <span style="padding-top: 4px;" class="oi oi-person" aria-hidden="true"></span> Min profil
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink style="color: red;" class="nav-link" href="logud">
                        <span style="color: red; padding-top: 4px;" class="oi oi-account-logout" aria-hidden="true"></span> Log ud
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link disabled" href="displays">
                        <span style="padding-top: 4px;" class="oi oi-monitor" aria-hidden="true"></span> Displays (log ind)
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link disabled" href="medier">
                        <span style="padding-top: 4px;" class="oi oi-grid-three-up" aria-hidden="true"></span> Medier (log ind)
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}